body {
  font-family: "Montserrat", sans-serif;
  background-color: #121212;
}

.container {
  background-color: white;
  border-radius: 5px;
}

li {
  display: block;
}

.list-group {
  height: 300px;
}

.list-group-item {
  height: 40px;
  border: none;
}
